zenigoke.inutano.com {
  reverse_proxy 127.0.0.1:8088
  encode gzip
  log {
    output file /var/log/caddy/zenigoke.log
    format console
  }
  header {
    Strict-Transport-Security "max-age=31536000; includeSubDomains"
    X-Content-Type-Options "nosniff"
  }
}
